<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Park List</title>
</head>
<body>
    <h1>Camera Park List</h1>
    <a href="{% url 'camera_park_create' %}">Add New Camera Park</a>
    <ul>
        {% for camera_park in camera_parks %}
            <li>
                <a href="{% url 'camera_park_detail' camera_park.pk %}">{{ camera_park.company }} - {{ camera_park.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
