<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Edit Company{% else %}Add New Company{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Edit Company{% else %}Add New Company{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'company_list' %}">Cancel</a>
</body>
</html>
