<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Edit{% else %}New{% endif %} Camera Park</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Edit{% else %}New{% endif %} Camera Park</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    {% if form.instance.pk %}
        <a href="{% url 'camera_park_detail' camera_park.pk %}">Cancel</a>
    {% else %}
        <a href="{% url 'company_detail' company.pk %}">Cancel</a>
    {% endif %}
</body>
</html>
